/* Header, footer */
@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&family=MuseoModerno:wght@900&family=Staatliches&display=swap');
header, footer {
  background-color: #008000;
}
body {
  width: 100%;
  height: 300px;



/* Navbar */

.navbar-brand {
  font-size: 18px;
  font-weight: 600;
}

.nav-link, .dropdown-item {
  font-size: 15px;
  font-weight: 600;
  text-transform: lowercase;
}

nav li {
  padding: 0 18px;
}

nav li.active, nav li.active:before {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
